# Ignore everything
*

# Ignore build dirs
*/build/*

# But allow descend into directories
!*/

# unignore stuff we want to keep
!.gitignore
!*/**/*.cc
!*/**/*.hh
!*/**/*.hpp
!*/**/*.cppökk
!*/**/*.py
!*/**/*.csv
!*/**/CMakeLists.txt
!*/**/BoostTestHelpers.cmake